@charset "UTF-8";
main.index {
  overflow: hidden;
}

.landing-page {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .content-left {
  max-width: 50%;
  min-width: 576px;
}

.landing-page .content-left h3 {
  font-size: 1.3rem;
  opacity: 0.8;
  margin-top: 15px;
}

.landing-page .content-left .buttons {
  margin-top: 25px;
}

.landing-page .content-left .buttons a {
  min-width: 130px;
  border-radius: 0 !important;
  border: 2px solid #00a0ff !important;
}

.landing-page .content-left .buttons a.logout-link {
  position: relative;
  color: #e52d27;
  background-color: transparent !important;
  border-color: #e52d27 !important;
}

.landing-page .content-left .buttons a.logout-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 101%;
  background-color: #e52d27;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  z-index: -1;
}

.landing-page .content-left .buttons a.logout-link:hover {
  color: white;
}

.landing-page .content-left .buttons a.logout-link:hover::after {
  width: 100%;
}

.landing-page .content-left .buttons a.btn.btn-primary {
  background-color: #00a0ff !important;
}

.landing-page .content-left .buttons a.btn.btn-primary:hover {
  opacity: 1;
}

.landing-page .content-left .buttons a.btn.btn-secondary {
  position: relative;
  background-color: transparent !important;
  border: 2px solid #00a0ff !important;
  color: black;
}

.landing-page .content-left .buttons a.btn.btn-secondary::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 101%;
  background-color: #00a0ff;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  z-index: -1;
}

.landing-page .content-left .buttons a.btn.btn-secondary:hover {
  color: white;
}

.landing-page .content-left .buttons a.btn.btn-secondary:hover::after {
  width: 100%;
}

.landing-page .content-right {
  max-width: 50%;
}

.landing-page .content-right {
  min-height: 800px;
  min-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/assets/img/Blue-Circle.svg");
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: left;
}

.landing-page .content-right img {
  border-radius: 28px;
  zoom: 70%;
  -webkit-transform: translate3d(10%, 0, 0);
          transform: translate3d(10%, 0, 0);
}

@media (max-width: 1369px) {
  .landing-page {
    max-width: 1024px;
  }
}

.d-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
  min-width: 100%;
  min-height: 100%;
}

.d-loading .loading {
  width: 72px;
  height: 72px;
  border: 5px solid #e5e5e5;
  border-top-color: #00a0ff;
  -webkit-animation: load 1s infinite;
          animation: load 1s infinite;
  border-radius: 100%;
}

@-webkit-keyframes load {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes load {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.btns-adicionar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-transacoes-despesa,
.btn-transacoes-receita {
  padding: 8px 15px 8px 20px !important;
}

.btn-overview-despesa,
.btn-overview-receita,
.btn-transacoes-despesa,
.btn-transacoes-receita {
  -webkit-box-shadow: 14px 17px 17px rgba(7, 7, 7, 0.14);
          box-shadow: 14px 17px 17px rgba(7, 7, 7, 0.14);
  border-radius: 28px;
  font-family: 'Ubuntu';
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #F7F8FC;
  opacity: 0.9;
  min-height: 55px;
}

.transacoes-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.btn-transacoes-despesa {
  width: 48%;
  background: -webkit-gradient(linear, left top, left bottom, from(#E52D27), to(#B31217));
  background: linear-gradient(180deg, #E52D27 0%, #B31217 100%);
}

.btn-transacoes-receita {
  width: 48%;
  background: -webkit-gradient(linear, left top, left bottom, from(#27DD9B), to(#24FE41));
  background: linear-gradient(180deg, #27DD9B 0%, #24FE41 100%);
}

.btn-overview-despesa {
  width: 100%;
  height: 9vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#E52D27), to(#B31217));
  background: linear-gradient(180deg, #E52D27 0%, #B31217 100%);
}

.btn-overview-receita {
  width: 100%;
  height: 9vh;
  margin-top: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#27DD9B), to(#24FE41));
  background: linear-gradient(180deg, #27DD9B 0%, #24FE41 100%);
}

.btn-overview-receita:hover, .btn-overview-despesa:hover {
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 1;
}

.plus-overview {
  position: relative;
  top: calc(50% - 13px);
  left: 35%;
}

.btn-overview-despesa .plus-overview,
.btn-overview-receita .plus-overview {
  top: calc(25% - 13px);
}

/* SIDEBAR */
.side-bar {
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 255px;
  width: 20vw;
  background-color: #363740;
  color: #A4A6B3;
  border-radius: 0 28px 28px 0;
  z-index: 1;
}

.side-bar .side-bar-header {
  height: 116px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.side-bar .side-bar-header h1 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.05rem;
  color: #A4A6B3;
  opacity: 0.7;
  margin: 0 10px;
}

.side-bar .side-bar-links {
  margin-top: 10px;
  border-bottom: 1px solid rgba(223, 224, 235, 0.2);
}

.side-bar .side-bar-links nav li {
  max-height: 56px;
  padding-left: 24px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar .side-bar-links nav li a {
  color: #A4A6B3;
}

.side-bar .side-bar-links nav li.active a * {
  color: #DDE2FF;
  fill: #DDE2FF;
  opacity: 1;
}

.side-bar .side-bar-links nav li:hover {
  background-color: rgba(159, 162, 180, 0.3);
  border-left: 3px solid  #9FA2B4;
  -webkit-transition: .2s;
  transition: .2s;
}

.side-bar .side-bar-links nav li:hover a, .side-bar .side-bar-links nav li:hover a *, .side-bar .side-bar-links nav li:hover a img {
  color: #DDE2FF;
  fill: #DDE2FF;
  opacity: 1;
}

.side-bar .side-bar-footer nav li {
  max-height: 56px;
  padding-left: 24px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar .side-bar-footer nav li a svg, .side-bar .side-bar-footer nav li a img {
  margin-right: 8px;
}

.side-bar .side-bar-footer nav li .logout-link {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.7) !important;
}

.side-bar .side-bar-footer nav li .logout-link:hover {
  color: red !important;
  -webkit-transition: .4s;
  transition: .4s;
}

.background-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

a.transacoes:hover img {
  opacity: 1;
}

.side-bar-links nav li.active {
  cursor: default;
  background-color: rgba(159, 162, 180, 0.3);
  border-left: 3px solid  #9FA2B4;
}

.side-bar-links nav li a:hover .logout-link:hover {
  text-decoration: none;
}

.side-bar-links nav li a, .side-bar-footer nav li a {
  padding: 15px 110px 15px 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.header {
  display: none;
  width: 100%;
  padding: 10px;
  background-color: #41424d;
}

.burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 9px;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;
}

.burger .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger:after {
  content: '';
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
}

.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em;
}

.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: '';
  width: 100%;
  border-radius: 0.25em;
  background-color: white;
  height: 0.2em;
  position: absolute;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.burger .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger.burger-squeeze .burger-lines, .burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
  -webkit-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
  transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
}

.burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
  width: 2em;
}

.burger.burger-squeeze.open .burger-lines, .burger.burger-squeeze.open .burger-lines:after, .burger.burger-squeeze.open .burger-lines:before {
  -webkit-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
  transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
}

.burger.burger-squeeze.open .burger-lines {
  background-color: transparent;
}

.burger.burger-squeeze.open .burger-lines:before, .burger.burger-squeeze.open .burger-lines:after {
  left: 0.5em;
  top: 0px;
  background-color: rgba(255, 0, 0, 0.8);
}

.burger.burger-squeeze.open .burger-lines:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.burger-squeeze.open .burger-lines:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-login {
  background-color: #fff;
  max-width: 450px;
  border-radius: 28px;
  padding-bottom: 24px !important;
  -webkit-box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
          box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
}

.form-login .form-header {
  background: rgba(85, 110, 230, 0.25);
  border-radius: 28px 28px 0px 0px;
  height: 111px;
}

.form-login .form-header .title-login {
  font-size: 2rem;
}

.form-login .form-header .img-login {
  float: right;
}

.form-login .form-header .welcome-2 {
  font-size: 0.85rem;
  margin-left: 24px;
}

.form-login .form-header p.welcome, .form-login .form-header p.welcome-2 {
  color: #556EE6;
  max-width: 200px !important;
}

.form-login .form-header .welcome {
  font-size: 1.1rem;
  font-weight: 500;
  padding-top: 24px;
  margin: 24px 0 0 24px;
}

.form-login .form-header.receita {
  background: rgba(62, 192, 141, 0.25);
}

.form-login .form-header.despesa {
  background: rgba(219, 0, 0, 0.28);
}

.form-login .form-header.edit {
  background: rgba(0, 160, 255, 0.25);
}

.form-login .form {
  margin: 24px 24px;
}

.form-login .form .alert-danger {
  font-size: 14px;
}

.form-login .form .title-login {
  font-size: 2rem !important;
}

.form-login .form .form-group {
  margin-top: 15px;
}

.form-login .form .form-group label {
  margin: 5px 0;
}

input, .btn {
  border-radius: 28px !important;
}

.btn {
  background-color: #556EE6 !important;
  border-color: transparent !important;
}

.btn-edit {
  background: #00a0ff !important;
  color: white;
}

.btn-receita, .btn-despesa {
  color: white;
  margin-bottom: 15px;
}

.btn-receita {
  background: -webkit-gradient(linear, left top, left bottom, from(#27DD9B), to(#24FE41)) !important;
  background: linear-gradient(180deg, #27DD9B 0%, #24FE41 100%) !important;
}

.btn-despesa {
  background: -webkit-gradient(linear, left top, left bottom, from(#E52D27), to(#B31217)) !important;
  background: linear-gradient(180deg, #E52D27 0%, #B31217 100%) !important;
}

.btn-voltar a {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Poppins';
  color: rgba(46, 58, 89, 0.9) !important;
  text-decoration: none !important;
}

.btn-voltar a:hover {
  text-decoration: none !important;
  color: #2E3A59 !important;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-voltar {
  position: relative;
}

.btn.btn-despesa:focus, .btn.btn-despesa:active {
  outline: 0 !important;
  border: none !important;
}

.buttons {
  margin-bottom: 24px !important;
  color: white !important;
  font-weight: 500 !important;
}

.btn:focus {
  outline: 0 !important;
  border-color: #4b5fc7;
}

.txt-register {
  font-family: 'Poppins';
}

.register-link {
  color: #556EE6;
  -webkit-transition: .4s;
  transition: .4s;
}

.register-link:hover {
  text-decoration: none !important;
}

.alert {
  margin: 12px !important;
}

input[type=radio] {
  border: none;
  outline: none;
}

select {
  -webkit-appearance: none;
  width: 100%;
  padding: 6px 12px;
  border-radius: 28px;
  background: url("/assets/img/icons/select.svg") no-repeat;
  background-position-x: 96%;
  background-position-y: center;
  border: 1px solid #ced4da;
  color: #495057;
}

option {
  color: #495057;
  border-radius: 28px;
  padding: 6px 12px;
}

input.form-control[type="radio"] {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

input[value="salario"] {
  background-image: url("/assets/img/icons/transacoes-icons/salario.svg");
}

input[value="red-person"] {
  background-image: url("/assets/img/icons/transacoes-icons/red-person.svg");
}

input[value="games"] {
  background-image: url("/assets/img/icons/transacoes-icons/games.svg");
}

input[value="travels"] {
  background-image: url("/assets/img/icons/transacoes-icons/travels.svg");
}

input[value="mercado"] {
  background-image: url("/assets/img/icons/transacoes-icons/mercado.svg");
}

input[value="painting"] {
  background-image: url("/assets/img/icons/transacoes-icons/painting.svg");
}

input[value="etiqueta"] {
  background-image: url("/assets/img/icons/transacoes-icons/etiqueta.svg");
}

input[value="lazer"] {
  background-image: url("/assets/img/icons/transacoes-icons/lazer.svg");
}

input[value="heart"] {
  background-image: url("/assets/img/icons/transacoes-icons/heart.svg");
}

.modal .btn-danger {
  background-color: #e52d27 !important;
  opacity: 0.9;
}

.modal .btn-danger:hover {
  opacity: 1;
}

@media (max-width: 550px) {
  .btn-voltar {
    top: 14px;
    left: 14px;
  }
  .btn-voltar a {
    font-size: 1.3rem;
  }
  .form-login {
    min-height: 670px;
  }
  .icones {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .icones input.form-control[type="radio"] {
    margin: 0 2.5px;
    width: 30px;
    height: 30px;
  }
  .form-header .title-login {
    font-size: 1.5rem !important;
  }
}

.overview-title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 42px;
  line-height: 50%;
  color: #404040;
}

.overview-subtitle {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #AEAEAE;
}

.overview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overview-container .left-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 82.5vh;
}

.overview-container .right-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 82.5vh;
}

/* GRAFICO ANUAL */
.registro-graph {
  padding: 1.5vh 2.6vw;
  width: 100%;
  height: 45vh;
  min-width: 470px;
  min-height: 280px;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
}

.registro-graph .chart-registro {
  width: 32.5vw;
  min-height: 200px !important;
  max-height: 33vh;
}

.registro-graph .overview-registro-title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #404040;
}

.registro-graph .overview-registro-subtitle {
  font-family: 'Ubuntu';
  font-size: 12px;
  color: #AEAEAE;
}

/* HISTORICO DE TRANSAÇÕES */
.historico-de-transacoes {
  padding: 1.5vh 2.6vw;
  width: 100%;
  height: 35vh;
  min-width: 470px;
  min-height: 218px;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
}

.historico-de-transacoes .historico-title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  color: #404040;
}

.h-table {
  height: 28vh;
  overflow: auto;
}

.h-table .historico-table {
  width: 100%;
}

.h-table .historico-table th {
  font-family: 'Ubuntu';
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-align: left;
}

.h-table .historico-table tr,
.h-table .historico-table td {
  height: 35px;
}

.h-table .historico-table tr {
  height: 35px;
  border-bottom: 0.5px solid #ECECEC;
}

.h-table .historico-table tr .tipo-transacao-receita {
  color: #27DD9B;
}

.h-table .historico-table tr .tipo-transacao-despesa {
  color: #E52D27;
}

.h-table .historico-table tr .tipo-transacao-despesa,
.h-table .historico-table tr .tipo-transacao-receita {
  text-align: right;
  font-weight: bold;
}

.h-table .historico-table tr .historico-table-icon {
  width: 7.5%;
  font-size: 10px;
  text-align: center;
  padding: 5px 0;
}

.h-table .historico-table tr .historico-table-icon img {
  width: 24px;
  height: 24px;
}

.h-table .historico-table tr .historico-table-id {
  width: 40%;
  font-family: 'Ubuntu';
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 16px;
  color: #464343;
}

.h-table .historico-table tr .historico-table-tipo,
.h-table .historico-table tr .historico-table-data {
  width: 16.25%;
  font-family: 'Ubuntu';
  font-size: 0.7rem;
  line-height: 14px;
  font-weight: bold;
  color: #C7C7C7;
}

.h-table .historico-table tr .historico-table-valor {
  width: 20%;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 16px;
  text-align: right;
}

/* LIMITES */
.limites-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.limites-link .limites-title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20.1118px;
  color: #404040;
}

.limites-link a {
  font-weight: bold;
  float: right;
  width: 20.8px;
  height: 19.1px;
  background: url("/assets/img/icons/plus-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.limites {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  width: 435.77px;
  min-height: 135px;
}

.limites .limites-card {
  margin-top: 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.limites .limites-card .card-limite {
  min-width: 136.91px !important;
  min-height: 134.28px !important;
  margin: 0 5px;
  padding: 19px 20px 10px 21px;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
}

.limites .limites-card .card-limite .data-limite {
  font-family: 'Poppins';
  font-size: 14px;
  color: #AEAEAE;
}

.limites .limites-card .card-limite .valor-limite {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 23.9789px;
  line-height: 50%;
  color: #696969;
}

/* PROGRESSBAR LIMITES */
.progressbar-limites {
  position: relative;
  width: 32.25vw;
  height: 25vh;
  min-height: 135px;
  margin-bottom: 15px;
}

.progressbar-limites .pb-title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20.1118px;
  line-height: 30px;
  color: #404040;
}

.top-1-limite,
.top-2-limite,
.top-3-limite {
  margin: 3vh 0;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-1-limite img,
.top-2-limite img,
.top-3-limite img {
  width: 30px;
  height: 30px;
}

.top-1-bar,
.top-2-bar,
.top-3-bar {
  min-width: 22.5vw;
  height: 7.5px;
  background: -webkit-gradient(linear, right top, left top, from(#FCAE73), color-stop(99.18%, #F79042));
  background: linear-gradient(270deg, #FCAE73 0%, #F79042 99.18%);
  border-radius: 10.7766px;
  margin-bottom: 5px;
}

.limite-subtitle {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 17px;
  color: #AEAEAE;
}

.porcentagem-limite {
  margin-left: 10px;
}

.porcentagem-limite {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 23.9789px;
  line-height: 50%;
  color: #696969;
}

/* TRANSAÇÕES PAGE */
.transacao-container {
  width: 100%;
  border-radius: 28px;
}

.transacao-container .transacao-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.transacao-container .transacao-container-top .media-despesas-mensais,
.transacao-container .transacao-container-top .media-receitas-mensais,
.transacao-container .transacao-container-top .balanco-mensal,
.transacao-container .transacao-container-top .meu-dinheiro {
  width: 24%;
  height: 75px;
  border-radius: 28px;
  -webkit-box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
          box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transacao-container .transacao-container-top .valor-balanco-mensal,
.transacao-container .transacao-container-top .valor-meu-dinheiro,
.transacao-container .transacao-container-top .valor-despesas-mensais,
.transacao-container .transacao-container-top .valor-receitas-mensais {
  font-weight: bold;
}

.transacao-container .transacao-container-top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transacao-container .transacao-container-top div h1 {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 20px;
  line-height: 90%;
  margin: 0;
}

.transacao-container .transacao-container-top div h2 {
  font-family: 'Ubuntu';
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}

.transacao-container .transacao-container-mid {
  padding: 5px 10px;
  border-radius: 28px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
          box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
}

.transacao-container .transacao-container-mid .total-transacoes {
  font-size: 12px;
  margin-left: 7px !important;
}

.transacao-container .transacao-container-mid select {
  max-width: 250px;
  font-size: 0.8rem;
  margin: 0 10px 0 15px;
  border-color: rgba(159, 162, 180, 0.3);
}

.transacao-container .transacao-container-mid p {
  margin: 0;
}

.transacao-container .transacao-container-mid .select-transacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transacao-container .transacao-container-mid .select-transacoes p {
  font-size: 14px;
  min-width: 130px;
}

.transacao-container .transacao-container-bottom {
  border-radius: 28px;
  min-height: 50vh;
  margin-top: 15px;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.tabela-transacoes {
  width: 100%;
  -webkit-box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
          box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 50vh !important;
  overflow-y: auto;
}

.tabela-transacoes table {
  margin: 15px 0;
  width: 95%;
  text-align: center;
}

.tabela-transacoes table * tr {
  height: 60px;
  border-radius: 8px;
}

.tabela-transacoes table thead tr {
  -webkit-box-shadow: 0px 12px 32px rgba(18, 38, 63, 0.1);
          box-shadow: 0px 12px 32px rgba(18, 38, 63, 0.1);
}

.tabela-transacoes table thead tr :last-child {
  width: 12.5%;
}

.tabela-transacoes table thead tr :last-child, .tabela-transacoes table thead tr :nth-child(5) {
  text-align: right;
}

.tabela-transacoes table thead tr th {
  padding: 8px 10px;
  margin: 15px 0;
}

.tabela-transacoes table tbody tr :last-child {
  text-align: right;
  width: 12.5%;
}

.tabela-transacoes table tbody tr.despesa td {
  border-bottom: 1px solid rgba(229, 45, 39, 0.2);
}

.tabela-transacoes table tbody tr.receita td {
  border-bottom: 1px solid rgba(39, 221, 155, 0.2);
}

.tabela-transacoes table tbody tr td {
  padding: 8px 10px;
  margin: 15px 0;
}

.tabela-transacoes table tbody tr td.first-transacoes.red {
  border-left: 3px solid #e52d27;
}

.tabela-transacoes table tbody tr td.first-transacoes.green {
  border-left: 3px solid #27dd9b;
}

.tabela-transacoes table tbody tr td.acao-despesa {
  border-right: 3px solid #e52d27;
}

.tabela-transacoes table tbody tr td.acao-receita {
  border-right: 3px solid #27dd9b;
}

.tabela-transacoes table tbody tr td.tipo-transacao-despesa, .tabela-transacoes table tbody tr td.tipo-transacao-receita {
  font-weight: bold !important;
  text-align: right !important;
}

.tabela-transacoes table tbody tr td#icon {
  width: 5%;
}

.tabela-transacoes table tbody tr td#icon img {
  border: none;
  min-width: 30px;
  min-height: 30px;
}

.tabela-transacoes table tbody tr td a svg {
  border: none;
  margin-left: 10px;
  min-width: 24px;
  min-height: 24px;
}

.tabela-transacoes table tbody tr td a svg.edit {
  opacity: 0.8;
}

.tabela-transacoes table tbody tr td a svg.edit:hover path {
  -webkit-transition: .7s ease;
  transition: .7s ease;
  opacity: 1;
  fill: #00a0ff;
}

.tabela-transacoes table tbody tr td a svg.delete path {
  fill: #e52d27;
  opacity: 0.8;
}

.tabela-transacoes table tbody tr td a svg.delete path:hover {
  opacity: 1;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.green {
  color: #27dd9b !important;
}

.red {
  color: #e52d27 !important;
}

@media (max-width: 768px) {
  .transacao-container {
    width: 100%;
    border-radius: 28px;
  }
  .transacao-container .transacao-container-top {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .transacao-container .transacao-container-top .media-despesas-mensais,
  .transacao-container .transacao-container-top .media-receitas-mensais,
  .transacao-container .transacao-container-top .balanco-mensal,
  .transacao-container .transacao-container-top .meu-dinheiro {
    margin-top: 15px;
    width: 90%;
    height: 75px;
  }
  .transacao-container .transacao-container-mid .select-transacoes p {
    display: none;
  }
  .transacao-container .transacao-container-mid select {
    width: 210px;
  }
}

@media (max-width: 500px) {
  .tabela-transacoes table thead tr :nth-child(2), .tabela-transacoes table thead tr :nth-child(3) {
    display: none;
  }
  .tabela-transacoes table tbody tr #icon {
    display: none;
  }
  .tabela-transacoes table tbody tr :nth-child(3) {
    display: none;
  }
  .tabela-transacoes table tbody tr :last-child {
    width: 25%;
  }
  .tabela-transacoes table tbody tr td {
    font-size: 0.9rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #cbcbcb;
}

::-webkit-scrollbar-track-piece {
  background: #ededed;
  border-radius: 10px;
}

a {
  text-decoration: none !important;
}

ul, nav {
  list-style: none;
}

body {
  background-color: #f8f8fb;
  font-family: 'Poppins';
  max-width: 100vw;
  max-height: 100vh;
}

.app-container {
  display: none;
  opacity: 0;
  max-height: 95vh;
  padding: 3.3333vh 2.5vw 1.51vh 2.5vw;
  margin-left: 22vw;
}

.app-container.block {
  display: block;
  opacity: 1;
}

.error-div {
  color: red;
  font-size: 14px;
  opacity: 0.8;
  margin-left: 10px;
}

/* @MEDIA */
@media (max-width: 1280px) {
  .header {
    display: block;
  }
  .side-bar {
    left: -255px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .toggler {
    left: 0 !important;
  }
  .app-container {
    padding: 2vh 2vw;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .historico-de-transacoes, .registro-graph {
    width: 90vw;
    height: 100%;
    margin-top: 15px;
  }
  .chart-registro {
    width: 100%;
    max-height: 100%;
  }
  .left-overview, .right-overview {
    height: 100%;
  }
  .right-overview {
    margin-top: 15px;
  }
  .progressbar-limites {
    margin: 25px 0;
    width: 94vw;
  }
  .top-1-bar,
  .top-2-bar,
  .top-3-bar {
    min-width: 72.5vw;
  }
  .limites {
    width: 95vw;
    height: 100%;
  }
  .plus-overview {
    left: 25%;
  }
}

@media (max-width: 500px) {
  .overview-container {
    min-height: 1150px;
  }
  body, html {
    overflow-x: hidden;
  }
  .historico-de-transacoes, .registro-graph {
    min-width: 100%;
    width: 95vw;
  }
  .historico-table-icon img {
    width: 20px !important;
    height: 20px !important;
  }
  .form-login {
    max-width: 430px !important;
    max-height: 575px;
  }
  .chart-registro {
    max-width: 400px !important;
    max-height: 100%;
  }
  .overview-registro-title, .overview-registro-subtitle {
    max-width: 300px;
  }
  .app-container {
    padding: 2vh 1vw;
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */