@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
  --body-background-color: #f8f8fb;
  --background-form-header: rgba(85, 110, 230, 0.25);
  --background-form-header-despesa: rgba(219, 0, 0, 0.28);
  --background-form-header-receita: rgba(62, 192, 141, 0.25);
  --button-despesa: linear-gradient(180deg, #E52D27 0%, #B31217 100%);
}

* {
  box-sizing: border-box;
  outline: 0; 
  margin: 0;
  padding: 0;

}

ul, nav{
  list-style: none;
}

body {
  background-color: var(--body-background-color);
  font-family: 'Poppins';
}

.welcome-2{
  font-size: 0.85rem;
  margin-left: 24px;
}

.welcome{
  font-size: 1.1rem;
  font-weight: 500;
  padding-top: 24px;
  margin: 24px 0 0 24px;
}

p.welcome, p.welcome-2{
  color: #556EE6;
  max-width: 200px!important;
}

.img-login{
  float: right;
}

.title-login{
  font-size: 2rem;
}

.form-header{
  background: var(--background-form-header);
  border-radius: 28px 28px 0px 0px;
  height: 111px;
}

.form-header.receita{
  background: var(--background-form-header-receita);
}

.form-header.despesa{
  background: var(--background-form-header-despesa);
}

.form-login{
  background-color: #fff;
  width: 450px!important;
  border-radius: 28px;
  padding-bottom: 24px!important;
  box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
}

.form-group label{
  margin-top: 5px;
}

input, .btn{
  border-radius: 28px!important;
}

.btn{
  background-color: #556EE6!important;
  border-color: transparent!important;
}

.btn-despesa{
  background: var(--button-despesa)!important;
  color: white;
}

.btn-voltar a{
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Poppins';
  color: rgba(46, 58, 89,.9)!important;
  text-decoration: none!important;
}

.btn-voltar a:hover{
  text-decoration: none!important;
  color: #2E3A59!important;
  transition: .4s;
}
.btn-voltar{
  position: absolute;
  top: 24px;
  left: 24px;
}

.btn.btn-despesa:focus, .btn.btn-despesa:active{
  outline: 0!important;
  border: none!important;
}

.buttons{
  margin-bottom: 24px!important;
  color: white!important;
  font-weight: 500!important;
}

.btn:focus{
  outline: 0!important;
  border-color: #4b5fc7;
}


.form{
  margin: 24px 24px;

}

.txt-register{
  font-family: 'Poppins';
}

.register-link{
  color: #556EE6;
  transition: .4s;
}

.register-link:hover{
  text-decoration: none!important;
}

.alert{
  margin: 12px!important;
}

input[type=radio]{
  border: none;
  outline: none;

}

select{
  -webkit-appearance: none;
  width: 100%;
  padding: 6px 12px;
  border-radius: 28px;
  background: url('/assets/img/icons/select.svg') no-repeat;
  background-position-x: 96%;
  background-position-y: center;
  border: 1px solid #ced4da;
  color: #495057;
}

option{
  color: #495057;
  border-radius: 28px;
  padding: 6px 12px;
}

.side-bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 255px;
  background-color: #363740;
  color:#A4A6B3; 
}