@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
  --body-background-color: #f8f8fb
}

* {
  box-sizing: border-box;
  outline: 0; 
  margin: 0;
  padding: 0;

}

body {
  background-color: var(--body-background-color);
  font-family: 'Poppins';
}

.title-login{
  font-size: 2rem;
}

.welcome-2{
  font-size: 0.85rem;
}

.welcome{
  font-size: 1.1rem;
font-weight: 500;
}

p.welcome, p.welcome-2{
  color: #556EE6;
  line-height: 50%;
}
.form-header{
  background: rgba(85, 110, 230, 0.25);
  border-radius: 28px 28px 0px 0px;
  height: 111px;
  padding: 24px 0 0 24px;
}

.form-login{
  background-color: #fff;
  width: 450px!important;
  border-radius: 28px;
  padding-bottom: 24px!important;
  box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
}

.form-group label{
  margin-top: 5px;
}

input, .btn{
  border-radius: 28px!important;
}

.btn{
  background-color: #556EE6!important;
  border-color: transparent!important;
}

.buttons{
  margin-bottom: 24px!important;
}

.btn:focus{
  outline: 0!important;
  border-color: #4b5fc7;
}


.form{
  margin: 24px 24px;

}

.txt-register{
  font-family: 'Poppins';
}

.register-link{
  color: #556EE6;
  transition: .4s;
}

.register-link:hover{
  text-decoration: none!important;
}

.alert{
  margin: 12px!important;
}