<section class="side-bar">
  <div class="side-bar-header">
    <h1 class="side-bar-title">Finanças</h1>
  </div>
  <div class="side-bar-links">
    <nav>
      <li>
        <a href="" class="overview">Overview</a>
      </li>
      <li>
        <a href="" class="transacoes">Transações</a>
      </li>
      <li>
        <a href="" class="receitas">Receitas</a>
      </li>
      <li>
        <a href="" class="despesas">Despesas</a>
      </li>
      <li>
        <a href="" class="planejamento">Planejamento</a>
      </li>
      <li>
        <a href="" class="limites">Limites</a>
      </li>
    </nav>
  </div>
</section>