<section class="side-bar">
  <div class="side-bar-header">
    <img src="/assets/img/icons/logo.svg" alt="">
    <h1 class="side-bar-title">Finanças</h1>
  </div>
  <div class="side-bar-links">
    <nav>
      <% if(paginaAtual === 'overview') { %> 
      <li class="active">
        <% } else { %> 
      <li>
        <% } %> 
        <a href="/overview/index" class="overview">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M15.5232 8.94116H8.54406L13.192 13.5891C13.3696 13.7667 13.662 13.7812 13.8446 13.6091C14.9829 12.5367 15.7658 11.0912 15.9955 9.46616C16.0349 9.18793 15.8041 8.94116 15.5232 8.94116ZM15.0576 7.03528C14.8152 3.52176 12.0076 0.714119 8.49406 0.471767C8.22582 0.453237 7.99994 0.679413 7.99994 0.948236V7.5294H14.5814C14.8502 7.5294 15.0761 7.30352 15.0576 7.03528ZM6.58818 8.94116V1.96206C6.58818 1.68118 6.34141 1.45029 6.06347 1.48971C2.55847 1.985 -0.120646 5.04705 0.00405986 8.71675C0.132295 12.4856 3.3773 15.5761 7.14788 15.5288C8.63024 15.5103 9.99994 15.0326 11.1261 14.2338C11.3585 14.0691 11.3738 13.727 11.1723 13.5256L6.58818 8.94116Z" fill="#60626E"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="16" height="16" />
            </clipPath>
            </defs>
          </svg>  
          Overview
        </a>
      </li>

      <% if(paginaAtual === 'transacoes') { %> 
      <li class="active transacoes">
        <% } else { %> 
      <li>
        <% } %> 
        <a href="/transacoes/index" class="transacoes">
          <img src="/assets/img/icons/transacoes.png" style="opacity: 0.3;" width="16px" alt="">
          Transações
        </a>
      </li>
      
      <% if(paginaAtual === 'receitas') { %> 
      <li class="active">
          <% } else { %> 
      <li>
          <% } %> 
          <a href="/receitas/index" class="receitas">
            <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.9225 8.3033C9.07874 8.48839 9.29067 8.59239 9.51167 8.59245H10C10.221 8.59239 10.4329 8.48839 10.5892 8.3033L14.5117 3.65823L16.4225 5.92106V0H11.4225L13.3333 2.26283L9.75583 6.49935L7.25583 3.53882C7.09959 3.35374 6.88766 3.24973 6.66667 3.24968H6.17833C5.95734 3.24973 5.74541 3.35374 5.58917 3.53882L0 10.1576L1.17833 11.553L6.4225 5.34277L8.9225 8.3033Z" fill="#60626E"/>
            </svg>
            Receitas
          </a>
      </li>

      <% if(paginaAtual === 'despesas') { %> 
      <li class="active">
          <% } else { %> 
      <li>
          <% } %>  
          <a href="/despesas/index" class="despesas">
            <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.51167 2.96052C9.29067 2.96057 9.07874 3.06458 8.9225 3.24966L6.4225 6.21017L1.17833 0L0 1.39539L5.58917 8.01412C5.74541 8.1992 5.95734 8.3032 6.17833 8.30326H6.66667C6.88766 8.3032 7.09959 8.1992 7.25583 8.01412L9.75583 5.0536L13.3333 9.2901L11.4225 11.5529H16.4225V5.63189L14.5117 7.89471L10.5892 3.24966C10.4329 3.06458 10.221 2.96057 10 2.96052H9.51167Z" fill="#60626E"/>
            </svg>
            Despesas
          </a>
      </li>

      <% if(paginaAtual === 'planejamento') { %> 
      <li class="active">
          <% } else { %> 
      <li>
          <% } %>
        <a href="/planejamento/index" class="planejamento" style="padding-right: 90px;">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.58333 17.0832C4.1231 17.0832 3.75 16.7101 3.75 16.2499V3.74988C3.75 3.28964 4.1231 2.91652 4.58333 2.91652H9.9C10.2168 2.91434 10.5074 3.09196 10.65 3.37488L11.25 4.58321H15.4167C15.8769 4.58321 16.25 4.95631 16.25 5.41654V12.0832C16.25 12.5434 15.8769 12.9165 15.4167 12.9165H10.925C10.6112 12.9156 10.3245 12.7384 10.1833 12.4582L9.58333 11.2499H5.41667V16.2499C5.41667 16.7101 5.04357 17.0832 4.58333 17.0832ZM5.41667 4.58321V9.58321H10.4167L11.25 11.2499H14.5833V6.24988H10.4167L9.58333 4.58321H5.41667Z" fill="#60626E"/>
          </svg>            
          Planejamento
        </a>
      </li>

      <% if(paginaAtual === 'limites') { %> 
      <li class="active">
          <% } else { %> 
      <li>
          <% } %>
          <img src="/assets/img/icons/" alt="">

        <a href="/limites/index" class="limites">Limites</a>
      </li>
    </nav>
  </div>
  <div class="side-bar-footer">
    <nav>
      <li>
        <div class="form-check form-switch my-4">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault"> Tema Claro</label>
        </div>
      </li>
      <li>
        <a href="#" class="logout-link">Sair</a>
      </li>
    </nav>
  </div>
</section>