<table class="historico-table">
  <tr>
    <th style="width: 5%; content: '';"></th>
    <th>Identificador</th>
    <th>Tipo</th>
    <th>Data</th>
    <th style="text-align: right;">Valor</th>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
  <tr>
    <td class="historico-table-i">i</td>
    <td class="historico-table-id">Identificador</td>
    <td class="historico-table-tipo">Tipo</td>
    <td class="historico-table-data">Data</td>
    <td class="historico-table-valor">Valor</td>
  </tr>
</table>