<table class="historico-table">
  <tr>
    <th style="width: 5%; content: '';"></th>
    <th>Identificador</th>
    <th>Tipo</th>
    <th>Data</th>
    <th style="text-align: right;">Valor</th>
  </tr>
  <% for(let receita of receitas) {  console.log(receita.data.toISOString());%>
    <tr>
      <td style="width: 5%; content: '';"></td>
      <td><%= receita.identificador %></td>
      <td><%= receita.categoria %></td>
      <td><%= `${receita.data.getDate() + 1}/${receita.data.getMonth() + 1}/${receita.data.getFullYear()}` %></td>
      <td style="text-align: right;"><%= `R$ ${receita.valor}` %></td>
    </tr>
    <% } %> 
  
</table>