<table class="historico-table">
  <tr>
    <th style="width: 5%; content: '';"></th>
    <th>Identificador</th>
    <th>Tipo</th>
    <th>Data</th>
    <th style="text-align: right;">Valor</th>
  </tr>
  <% for(let receita of receitas) { %>
    <tr>
      <td><%= receita.identificador %></td>
      <td><%= receita.categoria %></td>
      <td><%= receita.data %></td>
      <td><%= receita.valor %></td>
    </tr>
    <% } %> 
  
</table>