<%- include('includes/head'); %>
  <% paginaAtual = 'despesas' %>
  <%- include('includes/sideBar'); %>


  <section class="app-container">
    <div style="width: 100%">
      <h1 class="overview-title">Despesas</h1>
      <h4 class="overview-subtitle" style="margin-top: 10px;">Veja suas despesas mensais aqui.</h4>
    </div>
  </section>
<%- include('includes/footer') %>