<%- include('includes/head'); %>
  <main class="index">
  <section class="landing-page">
    <div class="content-left">
      <h1 class="lp-title">Seja bem vindo!</h1>
      <h3 class="lp-subtitle">Nosso app fornece uma maneira simples e prática de controlar seus ganhos e gastos.</h3>
      <% if(!user) {%> 
      <p>Inicie sua trajetória conosco, crie uma conta:</p>
      <div class="buttons">
        <a href="/login/index" class="btn btn-primary">Entrar</a>
        <a href="/register/index" class="btn btn-secondary">Cadastre-se</a>
      </div>
      <% } else{ %> 
        <div class="buttons">
          <a href="/overview/index/<%= user._id %> " class="btn btn-primary">Overview</a>
          <a href="/login/logout" class="btn logout-link">Sair</a>
        </div>
      <% } %> 
    </div>
    <div class="content-right">
      <img src="/assets/img/Financas.JPG" alt="">
    </div>
  </section>
</main>
  <%- include('includes/footer') %>