<%- include('includes/head'); %>
  <main class="index">
  <section class="landing-page">
    <div class="content-left">
      <h1 class="lp-title">Seja bem vindo, <%= user.nome %>!</h1>
      <h3 class="lp-subtitle">Acesse o nosso portal clicando em 'Overview'.</h3>
        <div class="buttons">
          <a href="/overview/index/<%= user._id %> " class="btn btn-primary">Overview</a>
          <a href="/login/logout" class="btn logout-link">Sair</a>
        </div>
    </div>
    <div class="content-right">
      <img src="/assets/img/Financas.JPG" alt="">
    </div>
  </section>
</main>
  <%- include('includes/footer') %>