<%- include('includes/head'); %>
  <% paginaAtual = 'receitas' %>
  <%- include('includes/sideBar'); %>


  <section class="app-container">
    <div style="width: 100%">
      <h1 class="overview-title">Receitas</h1>
      <h4 class="overview-subtitle">Veja suas receitas mensais aqui.</h4>
    </div>
  </section>
<%- include('includes/footer') %>