<%- include('includes/head'); %>
  <% paginaAtual = 'transacoes' %>
  <%- include('includes/sideBar'); %>


  <section class="app-container">
    <div style="width: 100%">
      <h1 class="overview-title">Transações</h1>
      <h4 class="overview-subtitle" style="margin-top: 15px;">Veja seu histórico de transações aqui.</h4>
    </div>
  </section>
<%- include('includes/footer') %>