@import './colors';

.d-loading{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  min-width: 100%;
  min-height: 100%;

  .loading{
    width: 72px;
    height: 72px;
    border: 5px solid #e5e5e5;
    border-top-color: $blue;
    animation: load 1s infinite;
    border-radius: 100%;
  }
}

@keyframes load {
  to{
    transform: rotate(1turn)
  }
}