/* TRANSAÇÕES PAGE */
.transacao-container{
  width: 100%;
  border-radius: 28px;
  
  .transacao-container-top{
    display: flex;
    justify-content: space-between;

    .media-despesas-mensais,
    .media-receitas-mensais,
    .balanco-mensal,
    .meu-dinheiro{
      width: 24%;
      height: 75px;
      border-radius: 28px;
      box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .valor-balanco-mensal,
    .valor-meu-dinheiro,
    .valor-despesas-mensais,
    .valor-receitas-mensais{font-weight: bold;}

    div{
      display: flex;
      justify-content: center;
      align-items: center;

      h1{
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 20px;
        line-height: 90%;
        margin: 0;  
      }

      h2{
        font-family: 'Ubuntu';
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin: 0;
      }
    }
  }

  .transacao-container-mid{
    padding: 5px 10px;
    border-radius: 28px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);

    .total-transacoes{
      font-size: 12px;
      margin-left: 7px!important;
    }
    
    .transacao-container-mid select{
      max-width: 250px;
      font-size: 13px;
      height: 80%;
      margin: 0 10px 0 15px;
      border-color: rgba(159, 162, 180,.3);
    }

    p{margin: 0;}

    .select-transacoes{
      display: flex;
      align-items: center;
      p{font-size: 14px; min-width: 130px;}
    }
  }

  .transacao-container-bottom{
    border-radius: 28px;
    min-height: 50vh;
    margin-top: 15px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }
}



.tabela-transacoes{
  width: 100%;
  box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height:50vh!important;
  overflow-y: auto;
  
  table{
    margin: 15px 0;
    width: 95%;
    text-align: center;

    * tr{
      height: 60px;
      border-radius: 8px;
    }

    thead{
      tr{
        box-shadow: 0px 12px 32px rgba(18, 38, 63, 0.1);
        :last-child{width: 12.5%;}
        :last-child, :nth-child(5){text-align: right;}

        th{
          padding: 8px 10px;
          margin: 15px 0;
        }
      }
    }

    tbody{
      tr{
        :first-child{border-left: 0;}
        :nth-child(5){text-align: right; color: $green}
        :last-child{text-align: right; width: 12.5%;}

        &.despesa td{border-bottom: 1px solid rgba(229,45,39,.2);}
        &.receita td{border-bottom: 1px solid rgba(39,221,155,.2);}

        td{ 
          padding: 8px 10px;
          margin: 15px 0;

          &#icon{
            width: 5%;
            
            img{border: none; min-width: 30px;min-height: 30px;}
          }

          &.tipo-transacaos-despesa,
          &.tipo-transacaos-receita{font-weight: bold;}

          a svg{
            border: none;
            margin-left: 10px;
            min-width: 24px;
            min-height: 24px;

            &.edit{
              opacity: 0.8;

              &:hover path{
                transition: .7s ease;
                opacity: 1;
                fill: $blue;
              }
            }

            &.delete path{
              fill: $red; 
              opacity: 0.8;

              &:hover{
                opacity: 1;
                transition: .7s ease;
              }
            }
          }
        }
      }
    }
  }
}

.green{
  color: $green;
}
.red{
  color:$red;
}