/* TRANSAÇÕES PAGE */
.transacao-container{
  width: 100%;
  border-radius: 28px;
  
  .transacao-container-top{
    display: flex;
    justify-content: space-between;

    .media-despesas-mensais,
    .media-receitas-mensais,
    .balanco-mensal,
    .meu-dinheiro{
      width: 24%;
      height: 75px;
      border-radius: 28px;
      box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    div{
      display: flex;
      justify-content: center;
      align-items: center;

      h1{
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 20px;
        line-height: 90%;
        margin: 0;  
      }

      h2{
        font-family: 'Ubuntu';
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin: 0;
      }

      h2.red, h1.red{
        color:rgba(219,0,0,1);
      }
      h2.green, h1.green{
        color:rgba(39,221,155,1);
      }
    }
  }

  .transacao-container-mid{
    padding: 5px 10px;
    border-radius: 28px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);

    .total-transacoes{
      font-size: 12px;
      margin-left: 7px!important;
    }
    
    .transacao-container-mid select{
      max-width: 250px;
      font-size: 13px;
      height: 80%;
      margin: 0 10px 0 15px;
      border-color: rgba(159, 162, 180,.3);
    }

    p{margin: 0;}

    .select-transacoes{
      display: flex;
      align-items: center;
      p{font-size: 14px; min-width: 130px;}
    }
  }

  .transacao-container-bottom{
    border-radius: 28px;
    min-height: 50vh;
    margin-top: 15px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }
}



.tabela-transacoes{
  width: 100%;
  box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height:50vh!important;
  overflow-y: auto;
  
  table{
    margin: 15px 0;
    width: 95%;
    text-align: center;

    thead{
      tr{
        :first-child{border-left:5px solid#00A0FF;}
        :last-child{border-right:5px solid#00A0FF;}

        *{border-bottom: 2.5px solid#00A0FF;}

        th{
          padding: 8px 10px;
          background-color: white;
          border-left: 4px solid rgba(202, 203, 204, 0.3);
          margin: 15px 0;
        }
      }
    }

    tbody{
      tr{
        :first-child{border-left: 0;}
        :nth-child(5){text-align: right;}
        :last-child{text-align: right;}

        &.despesa *{border-bottom: 1px solid rgba(229,45,39,.2);}
        &.receita *{border-bottom: 1px solid rgba(39,221,155,.2);}

        td{ 
          padding: 8px 10px;
          background-color: white;
          border-left: 4px solid rgba(202, 203, 204, 0.3);
          margin: 15px 0;

          &#icon{
            width: 5%;
            
            img{border: none;}
          }

          &.first-transacoes.green{border-left:5px solid rgba(39,221,155,1);}
          &.first-transacoes.red{border-left:5px solid rgba(229,45,39,1);}
          &.last-transacoes.green{border-right:5px solid rgba(39,221,155,1);}
          &.last-transacoes.red{border-right:5px solid rgba(229,45,39,1);}
        }
      }
    }
  }
}
